.header{background:#333 !important; color:#fff;}

.transparentBG{background:transparent !important;}

.pullLeft0{margin-left:0px !important;}

.border-botm{border-bottom:1px solid #dddddd;margin-bottom:10px;}